<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
  <display-name>pacienteupa</display-name>
  <welcome-file-list>
    <welcome-file>login.jsf</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>br.org.isgh.paciente.relatorios.ServletReport</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GeraRelatorioServlet</display-name>
    <servlet-name>GeraRelatorioServlet</servlet-name>
    <servlet-class>br.org.isgh.paciente.relatorios.GeraRelatorioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeraRelatorioServlet</servlet-name>
    <url-pattern>/relatorioprescricao</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>NomeHospital</param-name>
    <param-value>UNIDADE DE PRONTO ATENDIMENTO-UPA</param-value>
  </context-param>
  <context-param>
    <param-name>LogotipoHospital</param-name>
    <param-value>logo_upa_jan.png</param-value>
  </context-param>
  <context-param>
    <param-name>sistema</param-name>
    <param-value>paciente</param-value>
  </context-param>
  <context-param>
    <param-name>numSistema</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoSetorNAC</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoConselhoCRM</param-name>
    <param-value>6</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoCentroCirurgico</param-name>
    <param-value>42</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoSetorNTI</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoSetorSocial</param-name>
    <param-value>63</param-value>
  </context-param>
  <context-param>
    <param-name>ClinicasGenericas</param-name>
    <param-value>42_26_25_08_44_81_22_21_</param-value>
  </context-param>
  <context-param>
    <param-name>ObterClinicaAlmoco</param-name>
    <param-value>81_22_25_44_8</param-value>
  </context-param>
  <context-param>
    <param-name>SiglaHospital</param-name>
    <param-value>UPA</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoClinicaEmergencia</param-name>
    <param-value>9</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoClinicaAmbulatorio</param-name>
    <param-value>9</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoLeitoEmergencia</param-name>
    <param-value>56</param-value>
  </context-param>
  <context-param>
    <param-name>CodigoLeitoAmbulatorio</param-name>
    <param-value>453</param-value>
  </context-param>
  <context-param>
    <param-name>IsnBlocoEmergencia</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>PathImpressoraEtiqueta</param-name>
    <param-value>\\NAC-020\Argox</param-value>
  </context-param>
  <context-param>
    <param-name>EnderecoRelatorios</param-name>
    <param-value>http://10.1.2.3:8080</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.fileUpload.maxRequestSize</param-name>
    <param-value>3000000000</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.fileUpload.createTempFiles</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <display-name>Restrição dos arquivos XHTML</display-name>
    <web-resource-collection>
      <web-resource-name>XHTML</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <error-page>
    <error-code>403</error-code>
    <location>/login.jsf</location>
  </error-page>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>blueSky</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.COMPRESS_STYLE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.CONTROL_SKINNING</param-name>
    <param-value>enable</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
    <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>
  <context-param>
    <param-name>timezone</param-name>
    <param-value>GMT-3</param-value>
  </context-param>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/paciente/login.jsf</location>
  </error-page>
  <context-param>
    <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>
  <context-param>
    <param-name>net.sf.jsfcomp.chartcreator.USE_CHARTLET</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>Chartlet</servlet-name>
    <servlet-class>net.sf.jsfcomp.chartcreator.Chartlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chartlet</servlet-name>
    <url-pattern>*.chart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Schedule</display-name>
    <servlet-name>Schedule</servlet-name>
    <servlet-class>br.org.isgh.servlets.Schedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/Schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapeamentoMatrix</display-name>
    <servlet-name>MapeamentoMatrix</servlet-name>
    <servlet-class>br.org.isgh.servlets.MapeamentoMatrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapeamentoMatrix</servlet-name>
    <url-pattern>/MapeamentoMatrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnviarPedidoMatrix</display-name>
    <servlet-name>EnviarPedidoMatrix</servlet-name>
    <servlet-class>br.org.isgh.servlets.EnviarPedidoMatrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarPedidoMatrix</servlet-name>
    <url-pattern>/EnviarPedidoMatrix</url-pattern>
  </servlet-mapping>
</web-app>